[2020-04-16 17:13] lpgoldstein opened #14 "Update blog post guidance on the wiki"
Blog post guidance on the wiki is outdated. Need to update.

[2020-06-03 16:32] mcharg opened #16 "Write blog post about QA process"

[2020-08-03 16:11] mcharg opened #4 "Publish card sorting blog post"

[2020-08-05 18:50] mcharg opened #7 "Add analytics tags to new blog site"

[2020-08-06 17:00] jlouis-onrr commented on #7
@mcharg, started looking at this one.  It appears their currently is GA tag in place, however when searching for the GA id across our GA account nothing is coming up.  Perhaps this was under a different account at some point that no longer exists?

[2020-08-06 17:06] jlouis-onrr commented on #7
@mcharg, also looks like i dont have access or permissions to this branch.  gonna need that in order to push out changes.

[2020-08-10 15:07] mcharg opened #9 "Create new domain for new blog"
- [x] Create new domain
- [x] Redirect all old blog posts to the new domain
- [x] Link the new site to the new blog domain

[2020-08-10 16:12] #4 closed

[2020-08-10 20:46] jlouis-onrr commented on #7
@mcharg, you should now be seeing the GA firing from the blog dev site.

[2020-08-11 15:05] mcharg commented on #7
It is showing up.
![image](https://user-images.githubusercontent.com/38465926/89914155-9a794a80-dbc2-11ea-92da-e804e6b5db33.png)

[2020-08-11 15:05] #7 closed

[2020-08-12 15:22] jennmalcolm opened #15 "HOC Blog post"

[2020-08-26 14:52] mojobnichols opened #10 "Improve revenue by company"
Split revenu_type into revenue_source and revenue_type.

Add commodity_order to match other data sets

[2020-08-26 14:52] #10 closed

[2020-08-27 14:21] #9 closed

[2020-08-27 15:35] jennmalcolm opened #12 "Add link to DOI privacy policy to footer"
Requirement for all public sites

[2020-08-31 16:15] jennmalcolm commented on #12
We have on NRRD, so let's use the same one.

[2020-09-09 14:42] mcharg opened #17 "Write blog post on onboarding process"

[2020-09-18 19:12] mcharg opened #19 "Analyze blog analytics"
So we know what has been most popular to help determine what to write in the future.

[2020-09-22 18:22] mcharg opened #20 "Change blog post title from "Not Your Father's Markdown" to "Not Your Parent's Markdown""

[2020-09-23 18:32] mcharg commented on #19
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2020-09-23 18:32] #19 closed

[2020-09-24 17:51] #20 closed

[2020-10-02 20:35] mcharg opened #22 "September & FY end analytics"

[2020-10-05 18:16] mcharg commented on #17
Here's a draft.
https://teams.microsoft.com/l/file/6ED5F153-F8EC-421B-A636-31257594EA6B?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2Fonrr_blog_post_onboarding.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dbacab56bfd552f

[2020-10-05 19:06] jennmalcolm commented on #17
Yes I will review

[2020-10-05 22:38] lpgoldstein commented on #17
l love gaining a new perspective on our team. I just had a few comments. Thanks!

[2020-10-05 23:02] jennmalcolm commented on #17
I added my comments as well. Thanks.

[2020-10-08 18:44] jennmalcolm opened #23 "Finalize and publish onboarding blog"

[2020-10-08 18:44] jennmalcolm commented on #17
continue in #23

[2020-10-08 18:44] #17 closed

[2020-10-13 19:26] Maroyafaied commented on #23
@arcasarana There is a PR ready for your review for you blog post. Thanks

https://github.com/ONRR/blog-nrrd/pull/24

https://dev-blog-nrrd.app.cloud.gov/Intern-Onboarding/

[2020-10-16 18:44] mcharg commented on #22
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2020-10-16 18:44] #22 closed

[2020-10-19 18:21] #23 closed

[2020-10-26 16:27] #12 closed

[2020-11-02 13:12] mcharg opened #28 "October analytics"

[2020-11-02 20:29] #28 closed

[2020-11-02 20:29] mcharg commented on #28
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2020-11-09 16:37] Maroyafaied opened #29 "Write blog post about tree testing"

[2020-11-10 17:46] mojobnichols commented on #16
I added a paragraph

[2020-11-17 21:19] lpgoldstein commented on #16
@Maroyafaied This is ready for your review: https://doimspp-my.sharepoint.com/:w:/g/personal/malcolmj_mms_gov/ERxjBuQmNnpNmQYxYWULdakB7nKCx0_m0LNQcinq8XSj3Q?email=Maroya.Faied%40onrr.gov&e=NhjaGA

[2020-11-18 17:25] Maroyafaied commented on #16
@lpgoldstein looks good, I only had minor changes.

[2020-11-18 18:07] lpgoldstein commented on #16
@Maroyafaied Thanks! I'll create an issue to publish the blog next sprint.

[2020-11-19 15:35] mcharg opened #30 "Prepare shutdown banner"
Do we need one for the blog?
https://github.com/ONRR/doi-extractives-data/issues/3612

[2020-11-19 19:05] #16 closed

[2020-11-19 19:20] lpgoldstein opened #31 "Publish QA blog post"
publish blog post

[2020-11-20 15:40] mcharg opened #32 "November analytics"

[2020-12-01 17:51] #32 closed

[2020-12-01 17:51] mcharg commented on #32
Done: https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2020-12-03 19:17] #30 closed

[2020-12-03 20:11] #31 closed

[2020-12-14 16:52] lpgoldstein commented on #29
@Maroyafaied This is ready for your review https://doimspp-my.sharepoint.com/:w:/g/personal/goldstel_mms_gov/EUiinw5Y-1VCgGETB7EP3RYBWKfUbP_yxNBBgUs-adlptQ?email=Maroya.Faied%40onrr.gov&e=gJqOFt

[2020-12-14 21:02] Maroyafaied commented on #29
@lpgoldstein I reviewed an added comments.

[2020-12-17 15:15] #29 closed

[2020-12-17 21:00] Maroyafaied opened #38 "Write a review process when writing blogs"
Include things like checking content grade levels

[2020-12-21 17:35] Maroyafaied opened #40 "Q/A consolidated revenue file"

[2020-12-21 17:37] #40 closed

[2021-01-04 14:09] mcharg opened #41 "December analytics"

[2021-01-05 15:00] mcharg opened #42 "Write blog post on trends design studio"
Sarah started a blog post.

[2021-01-05 18:28] mcharg commented on #41
Done https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-01-05 18:28] #41 closed

[2021-01-12 15:57] Maroyafaied opened #44 "Request to write about NRRD"
Chris asked us to write a paragraph about NRRD to include in the DOI blog. He's ok with us posting his ONRR blog on our site as well.

"I've been asked to put together a blog post for ONRR, that will go on the DOI blog. I'm thinking it will be 5 things to know about ONRR. I'd like one of those bullets to be about the NRRD. Could you draft something up for me and an image (perhaps a screen shot) to

[2021-01-12 17:29] Maroyafaied commented on #44
https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Blog/DOI%20blog%20-%20NRRD.docx?web=1

[2021-01-14 19:16] #44 closed

[2021-01-20 19:01] mcharg commented on #42
@Maroyafaied @lpgoldstein This is ready to review. https://teams.microsoft.com/l/file/CE9B534F-F8D9-4BF3-8837-7EB8827A55B9?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2Fonrr_blog_post_design_studio_draft_2.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=t

[2021-01-20 22:38] Maroyafaied commented on #42
@mcharg @arcasarana I've added my comments. Thanks

[2021-01-20 22:39] lpgoldstein commented on #42
@arcasarana @mcharg I've added comments as well.

[2021-01-21 23:11] lpgoldstein commented on #38
@Maroyafaied I pulled down what was on the wiki before related to writing blog posts and started making some edits. Let's discuss at catchup on Monday if you are out tomorrow. I'd like to go in a slightly different direction than our current guidance if that makes sense to you after reading my comments. https://doimspp-my.sharepoint.com/:w:/g/personal/goldstel_mms_gov/ERxgbV1fQG5On8XGp_eVY_kBE4EGa

[2021-01-26 01:44] lpgoldstein commented on #38
@Maroyafaied I updated the nrrd wiki that has the comprehensive blog publishing page. I also copied over the page to the blog repo. https://github.com/ONRR/blog-nrrd/wiki/Publishing-a-blog-post-(a-to-z)

Here is the new simple page as well.
https://github.com/ONRR/blog-nrrd/wiki/Blog-writing-for-new-authors

[2021-01-26 13:38] Maroyafaied commented on #38
@lpgoldstein This looks great!

[2021-01-26 14:01] mcharg commented on #38
@lpgoldstein Found a line that's no longer relevant.
![image](https://user-images.githubusercontent.com/38465926/105854608-17538180-5fb5-11eb-9acd-4a4f2bf6314a.png)

[2021-01-28 19:12] #38 closed

[2021-02-01 15:51] mcharg opened #45 "January analytics"

[2021-02-03 21:00] mcharg commented on #45
Done: https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-02-03 21:00] #45 closed

[2021-02-03 21:52] jennmalcolm opened #46 "Blog post - retrospective"
on experience, what I've learned that I'll take to next job

[2021-02-04 16:14] jennmalcolm opened #47 "Blog post on MUI"
and how we're using it to implement the principles of the USWDS as required by 21st Century IDEA

[2021-02-11 18:24] #42 closed

[2021-02-24 13:28] jennmalcolm commented on #46
@Maroyafaied @lpgoldstein @mcharg I have a draft of my blog ready for your review. I will put it into MDX in a branch tomorrow, so if any of you have a chance to give me feedback today, I'd appreciate it. Thanks.

https://doimspp-my.sharepoint.com/:w:/g/personal/malcolmj_mms_gov/EWapYI2W_j1Pm6O1TTXdoT8BMbMlcAzNxI_fUDr9Wx2hKQ?e=18jt0j

[2021-02-24 13:39] Maroyafaied commented on #46
@jennmalcolm wow, it's really good! I just read it but I was too into it to catch any mistakes, I'll re read it again! but great job, it's a great read!

[2021-02-24 14:12] mcharg commented on #46
@jennmalcolm Looks good.  I made some comments and edits.

[2021-02-24 16:08] lpgoldstein commented on #46
@jennmalcolm This looks great on first pass. Will read again this afternoon too. We should share on onrresource when done to remind people why we all do what we do. Also keep in mind when we revisit product statement and how we work - I really like your verbiage about how people are the solution.

[2021-02-25 19:05] #46 closed

[2021-03-01 18:21] mcharg opened #54 "February Analytics"

[2021-03-04 17:07] mcharg commented on #14
I deleted this page from the NRRD repo, since @lpgoldstein created a page in the blog repo and updated it.

[2021-03-04 17:07] #14 closed

[2021-03-19 18:20] mcharg commented on #54
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-03-19 18:20] #54 closed

[2021-04-07 20:55] mcharg opened #58 "March analytics"

[2021-04-21 17:43] mcharg commented on #58
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-04-21 17:43] #58 closed

[2021-04-23 19:39] mcharg opened #59 "Write contacts blog post"

[2021-05-04 18:17] #15 closed

[2021-05-07 20:28] mcharg opened #60 "April Analytics"

[2021-05-07 20:29] mcharg opened #61 "Blog post about reviewing wireframes with stakeholders"

[2021-05-11 16:33] Maroyafaied opened #62 "Error message when clicking on "older" (after page 2)"

[2021-05-13 14:48] mcharg commented on #62
@cm805 Did you say you added some screenshots to this issue?  If so, you may not have submitted the comment.

[2021-05-13 15:48] CM805 commented on #62
![image](https://user-images.githubusercontent.com/83783622/118150268-97202300-b3cf-11eb-84c2-d3ddba07c319.png)

Once you are on page 2 click "older"

![image](https://user-images.githubusercontent.com/83783622/118150952-5a086080-b3d0-11eb-825d-c683e6f2962f.png)

[2021-05-14 19:01] mcharg commented on #60
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-05-14 19:01] #60 closed

[2021-05-18 17:21] mcharg commented on #61
This is ready to review. @Maroyafaied @daniel-coleman-1 Can you please take a look?
https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Blog/WireframeReviews.docx?d=wd502db3d69544368825fe1f4c58735e7&csf=1&web=1&e=hTHi4V

[2021-05-18 17:27] mcharg commented on #47
@abudz19 Would you be interested in working with @jlouis-onrr on this blog post to sum up the work you've done for us?

[2021-05-18 17:52] daniel-coleman-1 commented on #61
I really liked it! Very minimal notes are attached.

https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7Bdb474b68-10e9-4227-b4fb-8b9c796554ab%7D&action=edit&wdPreviousSession=89df289c-ba7a-44be-ae8f-85a04e3acdd5

[2021-05-18 21:00] mcharg commented on #62
@jlouis-onrr @mojobnichols I took a look at this and it's not something I could figure out, so we need developer help.

[2021-05-19 16:37] Maroyafaied commented on #61
@mcharg very good, I only had one comment. Thanks

[2021-05-24 18:30] mcharg opened #64 "Homepage blog post"
Why we decided to redesign it again.

Follow-up from first blog post on the homepage.

https://blog-nrrd.doi.gov/homepage-revamp/

[2021-05-25 14:13] #61 closed

[2021-06-04 17:56] mcharg opened #66 "May analytics"

[2021-06-15 13:55] mcharg commented on #59
@Maroyafaied This is ready for you to review.
https://teams.microsoft.com/l/file/70019E81-5ED2-4B93-9D9C-650895432B86?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2FBlog%20Post_%20Contacts.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:3

[2021-06-17 12:53] arcasarana commented on #64
Here's the link to the blog post. I think it still needs some editing.

[https://teams.microsoft.com/l/message/19:34f9f9ee6b0441dbacab56bfd552f819@thread.skype/1623932538084?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&groupId=3dd7454f-a781-414f-b6f1-b6d10fadb64a&parentMessageId=1623932538084&teamName=NRRD&channelName=General&createdTime=1623932538084]

[2021-06-17 15:05] mcharg commented on #64
@arcasarana @branic18 I took a look and added in comments.

@Maroyafaied Do you want to review, as well?

[2021-06-17 15:38] Maroyafaied commented on #64
@arcasarana @branic18  I added my comments.

[2021-06-17 17:37] #62 closed

[2021-06-17 20:03] #66 closed

[2021-06-17 20:03] mcharg commented on #66
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-06-21 15:03] mcharg commented on #59
@Maroyafaied Brandi made updates to address our comments.

@CM805 Can you please review, since you weren't part of the design process and have an outside perspective?
https://teams.microsoft.com/l/file/70019E81-5ED2-4B93-9D9C-650895432B86?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2

[2021-06-23 18:57] CM805 commented on #59
I made some grammatical edits and wording changes for readability.

[2021-06-24 15:50] mcharg opened #69 "Put contacts blog post in markdown"
Document with the blog post:
https://teams.microsoft.com/l/file/70019E81-5ED2-4B93-9D9C-650895432B86?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2FBlog%20Post_%20Contacts.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dbac

[2021-06-24 15:52] mcharg commented on #59
Created #69 for @daniel-coleman-1 to put the blog post into markdown.

[2021-06-24 15:52] #59 closed

[2021-06-28 19:06] daniel-coleman-1 commented on #69
https://dev-blog-nrrd.app.cloud.gov/contacts/

[2021-06-30 18:18] daniel-coleman-1 opened #71 "Write guide for writing and approving blog posts"

[2021-06-30 18:49] Maroyafaied commented on #71
include checking reading level and alt text.

[2021-07-01 18:14] #69 closed

[2021-07-02 13:06] Maroyafaied opened #72 "June Analytics"

[2021-07-06 23:26] daniel-coleman-1 opened #73 "Update Production Reporting References"
Issue received via email from John Erle:

 Please replace the production reporting refences located on the homepage under: reporting paying, production reporting references, offshore
with the attached five gulf files and three pacific files and replace the as of date with 2 July 21.

[Gulf-Gas-Plants.xlsx](https://github.com/ONRR/blog-nrrd/files/6773244/Gulf-Gas-Plants.xlsx)
[Gulf-Metering-Systems

[2021-07-06 23:26] daniel-coleman-1 commented on #73
Updated in dev and emailed owner, awaiting approval

[2021-07-06 23:28] daniel-coleman-1 commented on #73
Disregard, wrong location.

[2021-07-06 23:28] #73 closed

[2021-07-12 20:36] mcharg opened #74 "Write blog post about accessibility project"
Here's a start:
https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/EekIQSo96t5KswMFG4hLBJgB5_N5XCwR0uA-UP45YAiuhw?e=B5IlWK

[2021-07-13 16:09] Maroyafaied commented on #74
@mcharg I put a few comments

[2021-07-13 16:47] mcharg commented on #72
Instructions for updating blog analytics:
https://github.com/ONRR/blog-nrrd/wiki/Analytics-Templates-&-Instructions

[2021-07-13 19:42] mcharg commented on #74
@sghahn I started a post about how we prioritized the documents for compliance.  We can add in your part either as a section of the same post or as separate part as a part 2, depending on your preference.  We don't really have specifications for word count or hard deadlines.

We do have a guide for new blog authors, if that's useful.
https://github.com/ONRR/blog-nrrd/wiki/Blog-writing-for-new-auth

[2021-07-14 14:46] sghahn commented on #74
@mcharg I read your current blog write-up, this gives me a good start to content consideration. Let me take some time to contemplate what I'd like to write (maybe I can come up with something over the weekend), keep you posted.

[2021-07-14 15:51] mcharg commented on #72
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-07-14 15:51] #72 closed

[2021-07-19 19:07] mcharg commented on #64
@arcasarana Will try to get this done by EOD tomorrow.

[2021-07-20 12:54] arcasarana commented on #64
[Usability Study_ Homepage Graphic.docx](https://github.com/ONRR/blog-nrrd/files/6848411/Usability.Study_.Homepage.Graphic.docx)

[2021-07-20 14:15] mcharg commented on #64
@arcasarana I'll create a GitHub version of the plan and findings that you can link to.

[2021-07-20 20:19] mcharg commented on #64
@arcasarana
Plan & Guide: https://github.com/ONRR/research/blob/master/nrrd-research/38_HomepageGraphic/Homepage%20Graphic%20Plan%20and%20Guide.md

Findings: https://github.com/ONRR/research/blob/master/nrrd-research/38_HomepageGraphic/Consolidated%20Findings%20for%20GitHub.xlsx?raw=true

[2021-07-20 20:29] mcharg commented on #64
@arcasarana It's looking good.  I made a few additional edits and comments.

@Maroyafaied Do you want to review?  Should we have @CM805 review when she's back next week?

[2021-07-20 22:05] Maroyafaied commented on #64
@mcharg I reviewed and made a few changes, please ask @CM805 to review next week as well. Thanks

[2021-07-26 17:14] CM805 commented on #64
I reviewed and made a few grammatical changes

[2021-07-29 15:10] mcharg commented on #74
@sghahn plans to have a draft started next week.

[2021-07-29 20:21] mcharg opened #76 "July analytics"
I haven't trained Daniel on how to do the blog analytics yet.

[2021-08-02 18:04] #64 closed

[2021-08-04 15:31] sghahn commented on #74
@Maroyafaied @mcharg. Just an FYI, I have finished writing the blog article and sent it to a coworker to proof read, so I hope to have uploaded in this issue by Friday.

[2021-08-04 16:01] Maroyafaied commented on #74
@sghahn Awesome, thanks for the update and I'm looking forward to reading it!

[2021-08-10 19:43] sghahn commented on #74
@Maroyafaied @mcharg   I've attached the blog article for your team.

Please let me know if your team decides to use the article, also when and where should RRM look for publication?

Thank you, Shannon

[Blog Article_508 Complinace_HahnShannon.docx](https://github.com/ONRR/blog-nrrd/files/6964128/Blog.Article_508.Complinace_HahnShannon.docx)

[2021-08-10 20:06] mcharg commented on #74
Thanks @sghahn I'll work on getting it formatted and send you a link to review it in dev.

One thing I'll need from you is a photo to include with you byline.  Basically any picture we can crop to a square.  See an example of mine at the bottom of this blog post. https://blog-nrrd.doi.gov/stakeholders/

[2021-08-10 20:16] mcharg commented on #74
@sghahn Also, what title should we use in your byline?

[2021-08-10 20:19] sghahn commented on #74
@mcharg just in case, the article was written more generic and internal to ONRR. By chance is this going on the nrrd site? If so, it may need to be re-written.

I'll see what I can do for a picture.

[2021-08-10 20:21] mcharg commented on #74
@sghahn It will be linked from the NRRD site.

[2021-08-10 20:32] sghahn commented on #74
@mcharg I don't really understand, if it's linked **_from_** the NRRD site, where is the final link, onrresouce?

[2021-08-10 20:33] mcharg commented on #74
@sghahn We have a separate site for the blog that is available to the public.

[2021-08-10 20:38] mcharg commented on #74
@sghahn I think we can make it work for an external audience without too many edits.  I added it to what I started about prioritizing docs.  Let me know what you think.

https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Blog/Accessibility.docx?d=w2a4108e9ea3d4adeb303051b884b0498&csf=1&web=1&e=NAMlCF

[2021-08-10 21:07] mcharg commented on #74
@CM805 @meshanw @cthomasONRR Can one or more of you take a look and provide comments?

[2021-08-11 13:24] cthomasONRR commented on #74
@mcharg I reviewed and it looks good- I just changed some minor formatting issues.

[2021-08-11 14:06] meshanw commented on #74
@mcharg Very nice post. I reviewed and made a few minor notes as well.

[2021-08-11 16:28] Maroyafaied commented on #74
@sghahn here is the long to our blog page if you want to get an idea of what it would like once it's published. https://blog-nrrd.doi.gov/

[2021-08-11 17:18] mcharg commented on #76
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-08-11 17:18] #76 closed

[2021-08-11 19:17] mcharg commented on #74
Got this put into Markdown.

https://dev-blog-nrrd.app.cloud.gov/accessibility/

@sghahn I had to rewrite a couple of the tips because Markdown can apparently only handle two levels of bullets. Let me know if you want to change anything.

[2021-08-11 19:25] Maroyafaied commented on #74
@sghahn If it looks good to you, feel free to share it with Nichelle Rogers to get on onrresource or share it internally!

[2021-08-11 19:46] mcharg opened #80 "Write blog post about transitioning into the manager role"

[2021-08-11 20:47] sghahn commented on #74
@mcharg looks great, and wow that was quick! I guess I better look for a picture of myself, I'll try to have it over by tomorrow. Also, I'm fine with the changes on the bullets.

Can you provide me a text copy of the final version so that I may coordinate with Nichelle to get it on onrresource ?

[2021-08-11 20:51] mcharg commented on #74
@sghahn I can get you a text copy of the final version tomorrow.  Not a super rush on the image.  We have two other blog posts coming out with our release this Friday, so this one will wait until we do the next release - probably when we get the next new monthly data.

[2021-08-12 19:32] mcharg commented on #74
@sghahn Here's a .txt version of the blog post.
[Accessibility Blog Post txt version](https://app.zenhub.com/files/279914708/b28c22ad-8b00-40af-aec5-d86a28d3c73f/download)

[2021-08-16 18:41] Maroyafaied opened #81 "blog post about cross training experience"

[2021-08-18 18:28] sghahn commented on #74
@mcharg
Thank you for the text file and I haven't forgotten about the picture, will get that over soon.

@Maroyafaied  Also, I will get the blog article sent over to Nichelle to be posted on ONRResource.

[2021-08-18 18:37] Maroyafaied commented on #74
@sghahn sounds good, thank you!

[2021-08-19 20:54] meshanw commented on #81
@mcharg @Maroyafaied I posted my rough rough draft in this folder for you to review here: https://teams.microsoft.com/l/file/E002ECB3-170E-41EB-B165-31CF09CC594D?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2FCross%20Training%20Post.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2F

[2021-08-19 21:16] daniel-coleman-1 commented on #81
@meshanw I like it!  It makes cross training seem much less daunting.  I edited the beginning of one sentence added some line breaks and will come back for another read and notes tomorrow morning.

[2021-08-19 21:25] meshanw commented on #81
@daniel-coleman-1 Thanks Dan. I'll keep an eye out for more of your notes.

[2021-08-19 22:11] daniel-coleman-1 commented on #71
[Blog Post Approval Guide.docx](https://github.com/ONRR/blog-nrrd/files/7017955/Blog.Post.Approval.Guide.docx)

Just a draft to get me away from Axure

[2021-08-19 22:40] Maroyafaied commented on #71
@daniel-coleman-1 Thanks for working on this, can you put this in our shared team folder and share the link so I can review. Thanks

[2021-08-19 22:48] daniel-coleman-1 commented on #71
https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/ETLdjnwdWr9Doq-VMYX8c-oBTI2bOXDUgC0xzufEFOWeYA?e=WoSDjC

I think this is an issue for next sprint

[2021-08-20 14:48] Maroyafaied commented on #81
@meshanw Wow that was so awesome to read, I loved it. I made no edits or suggestions since I was too consumed in reading it lol but I will re-read on Monday! Thank you for writing it and all the kind things you've said about our team, you're the best!

[2021-08-20 15:12] mcharg commented on #81
@meshanw I had a similar reaction to Maroya's when I read it yesterday.  I went through this morning and made a few edits and comments.

[2021-08-23 17:20] meshanw commented on #81
@daniel-coleman-1 @Maroyafaied @mcharg  Thanks for taking the time to read and review. Glad you all liked it :) And once I finalize Shannon's last note, should I save a final draft or just leave the doc as is?

[2021-08-23 19:32] mcharg commented on #81
@meshanw You can leave it as is and one of us will put it into markdown, unless you want to get some experience doing that.

[2021-08-27 15:01] mcharg opened #83 "August Analytics"

[2021-08-30 17:57] Maroyafaied opened #84 "Write blog post about cross training experience - Christa"

[2021-08-31 20:42] CM805 commented on #84
Emailed draft to @Maroyafaied and @mcharg

[2021-08-31 20:45] CM805 commented on #84
[McCurdy Blog Post.docx](https://github.com/ONRR/blog-nrrd/files/7086722/McCurdy.Blog.Post.docx)

Emailed attached draft to @mcharg and @Maroyafaied

[2021-09-01 12:59] Maroyafaied commented on #84
@CM805 I loved it, I enjoyed reading your experience from your prespectiveand how you focused on our agile project management.  I added some comments. https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B7D73E9BE-24F9-4A56-9CFB-D2A72B95364D%7D&file=McCurdy%20Blog%20Post.docx&action=default&mobileredirect=true

[2021-09-01 13:58] mcharg commented on #84
@CM805 I enjoyed reading it, as well.  I added comments.

[2021-09-01 15:27] CM805 commented on #84
Thanks for the review.  I addressed the issues and suggestions.  Please take another look and let me know any additional thoughts you have!

[2021-09-01 19:55] mcharg commented on #84
@CM805 Took another look and looks good!

[2021-09-03 17:52] mcharg opened #86 "Add section508.gov to list of references in accessibility blog post"
I'm checking with Sid to see exactly where we should reference.

[2021-09-03 19:40] #86 closed

[2021-09-08 21:02] mcharg commented on #83
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-09-08 21:02] #83 closed

[2021-09-16 13:58] mcharg opened #90 "Rename the blog"
To Open Data, Design, & Development at the U.S. Department of the Interior.

[2021-09-16 14:45] mcharg opened #91 "Update Meshan's blog post with new team name"

[2021-09-16 14:46] mcharg opened #92 "Republish sketchy version of wireframes to a new url and update link in Stakeholder Buy-in post"
It won't make sense for people to see the visual designed version that's currently linked.

[2021-09-16 16:52] mcharg commented on #71
Check 18F content guide with info about blogs.

[2021-09-16 16:54] mcharg opened #93 "Add ability to request a blog topic"

[2021-09-16 17:26] Maroyafaied commented on #71
@daniel-coleman-1 I just found a wiki page that our previous content strategist wrote on publishing blog posts, when working this issue please look into what's already been written and what else we need to add. @mcharg do you know why this page was archived? How can I un archive it and move it the NRRD wiki? Thanks https://github.com/ONRR/doi-extractives-data/wiki/Publishing-a-blog-post

[2021-09-16 18:43] mcharg commented on #71
@Maroyafaied We moved it to the blog wiki. https://github.com/ONRR/blog-nrrd/wiki/Publishing-a-blog-post-(a-to-z)

[2021-09-21 17:43] mcharg commented on #91
@Maroyafaied @cthomasONRR @lpgoldstein This is updated in @meshanw's blog post PR if one of you wants to review.
https://dev-blog-nrrd.app.cloud.gov/Cross-training/

[2021-09-21 17:44] mcharg commented on #90
Updated in Meshan's blog post PR.
https://dev-blog-nrrd.app.cloud.gov/

@Maroyafaied Do you want to review?  Should we use the purple bison?

[2021-09-21 17:46] mcharg commented on #92
Updated in Meshan's blog post PR.

@cthomasONRR or @lpgoldstein does one of you want to review?
https://dev-blog-nrrd.app.cloud.gov/stakeholders/

[2021-09-21 17:48] cthomasONRR commented on #91
@mcharg Looks good, but this sentence doesn't really make sense anymore:
"As time went on, I began to hear little chatter of what others thought they did like “They work with GSA” “They publish/display data to NRRD (the Natural Resources Revenue Data website), hence their name, Duh! – ODDD team.”

[2021-09-21 17:49] Maroyafaied commented on #90
@mcharg it looks good, I think the blue bison is fine since it's a part of the NRRD site.

[2021-09-21 17:49] mcharg commented on #91
@cthomasONRR Good point.  @meshanw Do you want to rewrite that sentence?

[2021-09-21 17:51] cthomasONRR commented on #92
@mcharg what needs to be reviewed at https://dev-blog-nrrd.app.cloud.gov/stakeholders/? Which link was updated?

[2021-09-21 17:51] mcharg commented on #92
@cthomasONRR The two links to the wireframes should be back to being sketchy instead of the visually designed version.

[2021-09-21 17:53] cthomasONRR commented on #92
@mcharg OK checked the post, and those 'new' wireframe links are back to being sketchy :) Looks good to me!

[2021-09-21 17:54] mcharg commented on #91
@meshanw @cthomasONRR Does this work?

"As time went on, I began to hear little chatter of what others thought they did like “They work with GSA” “They publish/display data to NRRD (the Natural Resources Revenue Data website), hence their name, Duh! – Data Display team.” (Note: The team was formerly called the Data Display team."

[2021-09-21 17:59] mcharg commented on #92
@cthomasONRR Thanks!

[2021-09-21 17:59] #92 closed

[2021-09-21 18:02] cthomasONRR commented on #91
@mcharg that works for me!

[2021-09-21 19:04] #90 closed

[2021-09-21 19:04] mcharg commented on #91
Updated with the above language.

[2021-09-21 19:04] #91 closed

[2021-09-27 18:09] mcharg opened #94 "September analytics"

[2021-09-27 18:21] Maroyafaied commented on #84
@CM805 is this ready for @daniel-coleman-1 to put into markdown?

[2021-09-27 18:43] mcharg opened #95 "FY21 blog analytics"

[2021-09-27 20:57] #84 closed

[2021-09-27 20:59] Maroyafaied opened #96 "Put Christa's blog post in markdown and create a PR"
@daniel-coleman-1 Christa finalized her blog post, please put in markdown and create a PR and assign @CM805 as one of the reviewers. Thanks

[2021-09-27 20:59] Maroyafaied commented on #96
https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B7D73E9BE-24F9-4A56-9CFB-D2A72B95364D%7D&file=McCurdy%20Blog%20Post.docx&action=default&mobileredirect=true

[2021-10-01 17:40] mcharg commented on #95
Requested unsampled report that should run over the weekend.

[2021-10-04 14:45] mcharg commented on #95
@lpgoldstein Here's an unsampled report with page views for the fiscal year.  Do you need anything more than that?
https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/NRRD%20Metrics/Analytics/Blog%20Analytics/FY21/Analytics%20DOI%20Agency%20Profile%20Blog%20Usage%20-%20FY21%2020201001-20210930.xlsx?d=wd35016b36381418786776ff649abb0f8&csf=1&web=1&e=CDB8H2

[2021-10-04 15:52] lpgoldstein commented on #95
@mcharg This is perfect, thank you

[2021-10-04 15:56] #95 closed

[2021-10-05 16:11] #94 closed

[2021-10-18 12:17] mcharg opened #100 "Submit card sorting blog post to digital.gov"
They have a form I have to fill out.

[2021-10-27 20:18] mcharg opened #102 "October Analytics"

[2021-11-01 16:31] daniel-coleman-1 opened #103 "Correct links for "Virtual Student Federal Service: my UX apprenticeship journey""
https://blog-nrrd.doi.gov/intern-onrr-dot-gov/

Link text "Explore Data Feature" in paragraph 2
Link text "lo-fidelity wireframes" in paragraph titled "Prototyping"

[2021-11-01 16:31] daniel-coleman-1 commented on #103
![Screenshot 2021-11-01 102305](https://user-images.githubusercontent.com/83892362/139706490-655e8703-8c9e-417f-b9ec-0e7c34b21a92.png)
![Screenshot 2021-11-01 102246](https://user-images.githubusercontent.com/83892362/139706494-daaa28e6-4d3c-4f57-abb3-b0a7fa97222a.png)
![Screenshot 2021-11-01 102150](https://user-images.githubusercontent.com/83892362/139706531-1045d2da-95a5-40fb-a841-73e02a42089d.

[2021-11-01 16:34] daniel-coleman-1 opened #104 "Correct link for "Re-evaluating how we work: bringing the whole team along""
Link text "soft launch" in paragraph "Final deliverable"

[2021-11-01 16:34] daniel-coleman-1 commented on #104
![Screenshot 2021-11-01 103240](https://user-images.githubusercontent.com/83892362/139706965-15d4d693-90e9-4be1-8315-96242e9ad397.png)

[2021-11-01 16:35] daniel-coleman-1 commented on #104
![Screenshot 2021-11-01 103458](https://user-images.githubusercontent.com/83892362/139707057-741b8151-44f0-4a1c-b075-6f47fd11a8cc.png)

[2021-11-02 15:53] daniel-coleman-1 opened #105 "Correct Links for "How to effectively champion a government product""
https://blog-nrrd.doi.gov/product-champion/

Link text "President’s Management Agenda Cross-Agency Priority (CAP) goals"
![Screenshot 2021-11-02 095136](https://user-images.githubusercontent.com/83892362/139886009-5a1e0c15-db03-4d17-bff0-946bb38d1a45.png)

[2021-11-02 16:02] daniel-coleman-1 opened #106 "Revisit Links for "Beyond open data""
https://blog-nrrd.doi.gov/beyond-open-data/

Links aren't broken, but may want to be revisited for clarity around repository "ONRR/doi-extractives-data"
"

[2021-11-02 16:04] daniel-coleman-1 opened #107 "Correct Link for "Making open data useful""
https://blog-nrrd.doi.gov/open-data-useful/

Link text "Filterable tables"

![Screenshot 2021-11-02 100302](https://user-images.githubusercontent.com/83892362/139893836-8ca203f5-1a62-4b43-b579-dec487e0cab6.png)

[2021-11-02 16:21] daniel-coleman-1 opened #108 "Correct link for "Teaching digital skills: learning usability testing by peer training""
https://blog-nrrd.doi.gov/usability-testing-training/

Link text "A Practical Guide to Usability Testing"

![Screenshot 2021-11-02 102030](https://user-images.githubusercontent.com/83892362/139904863-44478f18-ba0e-4a84-b84f-9337981fb34f.png)

[2021-11-02 16:24] daniel-coleman-1 opened #109 "Correct Links for "Building technical capacity with team members""
https://blog-nrrd.doi.gov/building-technical-with-team-members/

Link text
"Revenue table"
"Revenue"
"Production downloads"

![Screenshot 2021-11-02 102354](https://user-images.githubusercontent.com/83892362/139905238-7efbd4d1-75fc-4f49-a7e2-c8b5e7ed22ae.png)

[2021-11-03 15:34] Maroyafaied commented on #80
Here is my draft, feel free to edit and give feedback. @daniel-coleman-1 @mcharg @cvojslavek https://teams.microsoft.com/l/file/718889AC-D36D-4A71-98F1-0292C10671E5?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2FTransition%20to%20management.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoin

[2021-11-03 16:52] mcharg commented on #80
@Maroyafaied Looks good!  I made a few edits.

[2021-11-03 17:49] Maroyafaied commented on #80
@mcharg Thanks, I changed some of the titles to the paragraph, feel free to give suggestions on that. @lpgoldstein @cthomasONRR feel free to review as well. Thanks

[2021-11-03 17:53] mcharg commented on #80
@Maroyafaied I just tweaked them to all use the same verb construction.

[2021-11-03 17:54] mcharg commented on #80
@Maroyafaied One thing you might want to add is a strong closing statement after the list of advice.

[2021-11-03 17:56] Maroyafaied commented on #80
@mcharg Thanks, that's a good point. I'll come up with something.

[2021-11-03 18:53] lpgoldstein commented on #80
@Maroyafaied You make it all sound so easy despite having a challenging and successful year at the same time. I just made a few grammatical edits. The new manager list is helpful for everyone too.

[2021-11-04 22:09] daniel-coleman-1 commented on #80
I think this is two blog posts. "Stepping out of my comfort zone" and "Eight Pieces of Advice for New Managers"

I think @Maroyafaied you could end the "Getting and giving feedback and support" with a paragraph about how you learned and grew in the role, adapted and made changes in perspective, etc, and have an eight-piece list of advice for a new manager in the next post (shameless plug).  Essent

[2021-11-05 18:23] Maroyafaied commented on #80
@daniel-coleman-1 Thanks for your suggestion, I probably won't have time to write a 2nd blog post so I will work next week on adding a paragraph to transition into the advice section better and a paragraph as a closing statement.

[2021-11-08 16:29] Maroyafaied opened #110 "Jae's blog post - intern experience"

[2021-11-08 17:20] Maroyafaied commented on #80
I added 2 paragraphs if anyone wants to review. Thanks

[2021-11-08 17:40] lpgoldstein commented on #80
@Maroyafaied I just reviewed and only made grammar/spelling/syntax edits. I loved getting insight into your past year.

[2021-11-08 17:50] daniel-coleman-1 commented on #80
@Maroyafaied made a few edits.  Looks good!

[2021-11-08 19:16] mcharg commented on #80
@Maroyafaied Looks good.  I dropped the new paragraphs into Hemingway and clarified a few sentences that were coming back as very hard to read.

[2021-11-08 19:29] mcharg commented on #107
@jlouis-onrr Can we set up a redirect from this page to the query tool?  It was the query tool before the redesign.
https://revenuedata.doi.gov/explore/revenue/

[2021-11-08 19:31] mcharg commented on #108
@daniel-coleman-1 Correct link: https://redish.net/books/usability-testing/

[2021-11-08 19:33] mcharg commented on #105
@daniel-coleman-1 Correct link: https://trumpadministration.archives.performance.gov/CAP/overview/

[2021-11-08 19:37] mcharg commented on #107
I created #1821 to create a redirect.

[2021-11-08 19:37] mcharg commented on #109
These should all be fixed with redirects.  See #1821.

[2021-11-08 19:38] mcharg commented on #104
@daniel-coleman-1 I think we should just remove this link, since the site's no longer out there.

[2021-11-08 19:39] mcharg commented on #103
@daniel-coleman-1 I'll reach out to @persam2 on this one to see if she can get us screenshots of the prototype in place of the links.

[2021-11-10 16:15] Maroyafaied commented on #80
Closing this and will create a PR.

[2021-11-10 16:15] #80 closed

[2021-11-10 18:39] Maroyafaied opened #112 "update node package"

[2021-11-15 15:13] mcharg commented on #103
@persam2 is looking for the source files on an external hard drive.

[2021-11-15 23:00] cvojslavek opened #114 "Write blog post about cross training experience - Cat"

[2021-11-17 16:32] cvojslavek commented on #114
Hi @Maroyafaied @lpgoldstein @mcharg @cthomasONRR @daniel-coleman-1 @codyeckstein, if you have time can you please review my [draft blog post](https://teams.microsoft.com/l/file/98C68007-4312-4D55-9271-309827F6FC54?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2FBlog-Post-CV-ForReview.

[2021-11-17 16:45] Maroyafaied commented on #114
@cvojslavek  I just read it without editing, I love how you captured quotes for team members and it's awesome hearing about our team from your perspective! I'll read it again and make edits later today or tomorrow.

[2021-11-17 17:21] Maroyafaied commented on #109
Taken care of with PR for #1821.

[2021-11-17 17:21] #109 closed

[2021-11-17 17:21] Maroyafaied commented on #107
Taken care of with PR for #1821.

[2021-11-17 17:21] #107 closed

[2021-11-18 16:37] mcharg opened #116 "Blog post about 508 compliance stakeholder interviews"
I think other agencies would benefit from our learning.

[2021-11-18 16:38] mcharg opened #117 "Blog post about troubleshooting wizard"
When we finish it, we should write a blog post.

[2021-11-18 16:39] mcharg commented on #116
@lpgoldstein @cthomasONRR Do either of you want to work on this?

[2021-11-18 16:39] lpgoldstein commented on #116
@mcharg yes

[2021-11-18 16:42] cthomasONRR commented on #116
@mcharg Sure! @lpgoldstein do you want to co-work on this one?

[2021-11-18 16:59] mcharg commented on #102
Done. https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-11-18 16:59] #102 closed

[2021-11-18 18:07] #114 closed

[2021-11-18 18:19] cvojslavek opened #118 "Put Cat's blog post in markdown and create a PR"

[2021-11-18 19:31] codyeckstein commented on #117
I was thinking about this last night.

[2021-11-24 15:37] mcharg commented on #103
This is fixed.

[2021-11-24 15:37] #103 closed

[2021-11-24 15:38] mcharg commented on #104
This is fixed.

[2021-11-24 15:38] #104 closed

[2021-11-24 15:39] mcharg commented on #105
This is fixed.

[2021-11-24 15:39] #105 closed

[2021-11-24 15:40] mcharg commented on #106
@daniel-coleman-1 Missing a bracket.
![image](https://user-images.githubusercontent.com/38465926/143269206-20a24d0b-393f-40f2-9ee5-d908de1501d7.png)

[2021-11-24 15:44] mcharg commented on #108
@daniel-coleman-1 This one didn't get updated.

[2021-11-24 17:36] #118 closed

[2021-11-24 18:48] daniel-coleman-1 commented on #108
@mcharg links updated in the open PR:
https://dev-blog-nrrd.app.cloud.gov/usability-testing-training/

[2021-11-24 19:05] daniel-coleman-1 commented on #106
@mcharg links updated in dev:
https://dev-blog-nrrd.app.cloud.gov/beyond-open-data/

[2021-11-24 19:40] mcharg commented on #108
This is fixed.

[2021-11-24 19:40] #108 closed

[2021-11-24 19:41] mcharg commented on #106
This is fixed.

[2021-11-24 19:41] #106 closed

[2021-12-06 15:14] mcharg opened #122 "November analytics"

[2021-12-13 16:08] Maroyafaied commented on #71
Add editing and approval process to wiki

[2021-12-13 16:08] Maroyafaied commented on #71
@mcharg review written process.

[2021-12-17 15:02] cthomasONRR commented on #116
I started drafting a blog post [here](https://teams.microsoft.com/l/file/3266514F-38F0-406A-A9E6-86FC1C693059?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2F508_Compliance_Study.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b04

[2021-12-17 18:48] daniel-coleman-1 commented on #122
@mcharg I think these are good to go, could you take a look?
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2021-12-17 19:49] cthomasONRR commented on #116
@lpgoldstein I have a rough draft ready for your review/additions. I mainly took content from our powerpoint presentation. I omitted info about ONRR Resource, but kept everything else. Please feel free to change whatever you want, and let me know if you would like to discuss. Thanks!

[2021-12-17 20:45] mcharg commented on #122
I'm not going to have time to get to this today.  Will look at it Monday.

[2021-12-20 14:33] mcharg commented on #122
@daniel-coleman-1 The spreadsheet on OneDrive isn't updated - the November column is blank.  Did you save the updated version locally on your computer?  Please update the one on OneDrive, so I can review.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4359b8d4-95b1-4c1c-af6e-f2fc97acef34)

[2021-12-20 14:36] mcharg commented on #122
@daniel-coleman-1 I think your page view counts are off.  I'm seeing 376 for the transition to management post and you only have 222.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/7a25b975-62a8-42fd-8ba3-9fb5d579be20)

[2021-12-20 14:38] mcharg commented on #122
@daniel-coleman-1 The numbers also appear to be off for referrers.  I'm seeing 142 for direct for the transition to management post, but you have 172.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/089381ee-4ba5-4206-8829-a0dff849c143)

[2021-12-20 20:18] cthomasONRR commented on #116
@Maroyafaied @mcharg @daniel-coleman-1 This blog post is ready for your review!

[2021-12-22 14:59] mcharg commented on #116
@cthomasONRR @lpgoldstein Looks good.  I made a few comments and edits in the doc.

[2021-12-27 21:29] Maroyafaied commented on #116
@cthomasONRR @lpgoldstein I have reviewed and made comments/edits, looks good overall!

[2021-12-28 15:57] cthomasONRR commented on #116
@daniel-coleman-1 Could you review the blog post?

[2021-12-28 15:58] daniel-coleman-1 commented on #116
@cthomasONRR gave it a read yesterday and will add notes later today.  Looks good!!

[2021-12-28 18:42] cthomasONRR commented on #116
I added in the following GitHub reference:  https://github.com/ONRR/research/tree/master/onnr-dot-gov-research/09_508_Study

[2021-12-28 20:27] daniel-coleman-1 commented on #116
@cthomasONRR I added some edits - very minor, it's an excellent piece!

[2021-12-28 20:43] cthomasONRR commented on #116
Thanks! I resolved all comments/edits and this is ready to be put in markdown.

[2021-12-28 21:20] cthomasONRR opened #123 "Put 508 blog post in markdown"

[2021-12-28 21:21] #116 closed

[2021-12-29 18:38] Maroyafaied commented on #122
@mcharg Dan wasn't able to pull the analytics with the instructions on the wiki so I'm moving this to next sprint. @daniel-coleman-1 since Shannon has walked through this process before,  can you please specify in the issue which steps of the instructions you're having trouble with so we can make updates to them?

[2021-12-29 18:41] Maroyafaied commented on #122
https://github.com/ONRR/blog-nrrd/wiki/Analytics-Templates-&-Instructions

[2021-12-29 19:02] daniel-coleman-1 commented on #122
I think building in steps to the instruction for what we're doing in excel would help.  Cleaning data by Filter data, find and replace to remove items, changing date source in pivot table, edit terms in Referrers, manually transfer page views to referrers chart.  They're all steps I have in my notes but a more detailed list of steps would be helpful.

[2021-12-29 19:36] Maroyafaied commented on #122
@daniel-coleman-1 the steps you're describing are mainly using excel and excel formatting that don't need to be detailed in the wiki.  It looks like you were able to pull the analytics before and might've had the wrong dates, if you have the data in the one drive excel file then we can meet to walk through any excel formatting issues.

[2021-12-30 13:57] #123 closed

[2021-12-30 15:15] Maroyafaied opened #125 "December Analytics"

[2022-01-03 17:36] Maroyafaied commented on #122
@daniel-coleman-1 I'm reassigning this issue to @mcharg since it's been open for a while and we need to do Dec analytics as well. @mcharg please review the written instruction on the wiki while performing this task to evaluate if any more details are needed.

[2022-01-03 17:58] mcharg commented on #122
@daniel-coleman-1 For page views, you didn't copy the after 1st 4 weeks column to the formatted page views sheet, so the numbers didn't get updated.
![image](https://user-images.githubusercontent.com/38465926/147963460-d10a1d36-9d5d-4afc-821b-5abd981c5770.png)

I added a sentence to the wiki instructions to clarify that.
![image](https://user-images.githubusercontent.com/38465926/147963517-53fabe8

[2022-01-03 19:48] mcharg commented on #122
@daniel-coleman-1 None of the November numbers for referrers are in the spreadsheet on OneDrive, so I can't figure out what went wrong.  I know we went through it together.  Did you not save the work we did?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/f02cf8c8-1a48-4fe0-82e5-d195415b24f9)

[2022-01-03 21:07] mcharg commented on #122
These are done.

@Maroyafaied Do you want to review the changes I made to the instructions?  Since I've now done them 3 times in the last few weeks (twice with Daniel, which he didn't save, and once again by myself) I think I'm too close to it to determine how useful they are.
https://github.com/ONRR/blog-nrrd/wiki/Analytics-Templates-&-Instructions

[2022-01-03 21:07] mcharg commented on #125
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2022-01-03 21:07] #125 closed

[2022-01-03 21:16] mcharg commented on #122
@Maroyafaied I also upped the estimate on this to account for all the time I spent showing Daniel how to do this.

[2022-01-03 21:22] mcharg commented on #71
@daniel-coleman-1 How is this going to fit in with the current guidance?  Will it be part of the team review step on this page?
https://github.com/ONRR/blog-nrrd/wiki/Blog-writing-for-new-authors

I'm already a bit confused about the difference between that page and this one.  Not sure how a third fits in.
https://github.com/ONRR/blog-nrrd/wiki/Publishing-a-blog-post-(a-to-z)

Can you please clari

[2022-01-03 21:30] mcharg commented on #71
@daniel-coleman-1 I added comments to the doc.  This is quite a bit different from how I review a blog post.  @Maroyafaied you should review, as well, so we can make sure we have agreement on the role of the reviewer.

[2022-01-03 22:35] Maroyafaied commented on #71
@daniel-coleman-1 The process has been that we ask the content strategist and other team members to review twice in one sprint; once the blog is in a shard doc and once it's in a PR which are steps 7 and 8 in this [ current guidance](https://github.com/ONRR/blog-nrrd/wiki/Blog-writing-for-new-authors). I recommend adding checklists under these steps but I'm open to hear other strategies.  Below is

[2022-01-04 13:48] mcharg commented on #71
@daniel-coleman-1 I agree with Maroya's suggestion.

[2022-01-05 19:33] Maroyafaied commented on #71
@cthomasONRR @lpgoldstein @mcharg please review the updated instructions based on the content tracking sheet. Once you are done with your review , I can use it for issue #1246 since I just added that page and @cthomasONRR can test it out again when she adds pages. https://doimspp.sharepoint.com/sites/NRRD/_layouts/15/doc.aspx?sourcedoc={e1a9e465-d8df-40bc-a745-1c5c891ca07a}&action=edit

[2022-01-05 19:46] mcharg commented on #71
@Maroyafaied Did you mean to put this comment on #351 (onrr.gov)?

[2022-01-05 19:53] Maroyafaied commented on #71
@mcharg Yes, I copied it over to the right issue.

[2022-01-21 20:58] daniel-coleman-1 commented on #71
Thanks for the edits @mcharg, I've incorporated them into the A to Z guide:
https://github.com/ONRR/blog-nrrd/wiki/Publishing-a-blog-post-(a-to-z)

Added checklist to Step 6:
![Screenshot 2022-01-21 135235](https://user-images.githubusercontent.com/83892362/150599169-a896cb0a-f3a0-47f3-8cd7-26524299cb6e.png)

And inserted a new Step 8 for markdown editing, which raised the total amount of steps fr

[2022-01-24 15:41] Maroyafaied commented on #71
@daniel-coleman-1 @mcharg this is good to close. Thanks

[2022-01-24 15:42] #71 closed

[2022-01-24 21:19] mcharg opened #127 "Add onrr.gov to the blog footer"
Since we no longer just work on NRRD.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/31ae7c69-3101-425e-86c8-eb1508deb670)

[2022-01-27 19:21] Maroyafaied opened #128 "Put Christa's blog post in markdown and create PR"
https://teams.microsoft.com/l/file/5776C9C0-2E9E-4C70-8E18-A1E241BB765F?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FBlog%2FChrista's%20blog.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dbacab56bfd552f819@thread.skype&groupId=

[2022-01-28 21:30] mcharg opened #129 "January analytics"

[2022-02-07 13:54] mcharg commented on #129
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2022-02-07 13:54] #129 closed

[2022-02-14 18:03] #112 closed

[2022-02-24 14:03] mcharg opened #133 "Write a blog post about making the org chart accessible beyond the auto checks"
Both Christina and Sid will be collaborating with me.

[2022-02-28 13:37] mcharg opened #134 "February analytics"

[2022-02-28 18:33] mcharg opened #135 "Present about product management to interns"

[2022-02-28 22:07] #135 closed

[2022-03-08 20:24] mcharg commented on #133
@Maroyafaied @lpgoldstein @cthomasONRR This is ready for you to review.
https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Blog/GettingBeyondAutoChecks.docx?d=we6790b2482144699861d878af9c12285&csf=1&web=1&e=ZsZPM1

[2022-03-08 21:33] cthomasONRR commented on #133
@mcharg I added some comments and made some grammar/wording revisions.

[2022-03-09 18:40] Maroyafaied commented on #133
@mcharg looks great, I only had title suggestions that I added a comment for. Thanks

[2022-03-09 19:05] lpgoldstein commented on #133
@mcharg Have we ever thought about doing an alternate org chart that is listed as you have in the alt text? I found that so much easier to read than the boxes. In less than 5 minutes, I have a better understanding of ONRR organization than I ever have before!

[2022-03-09 19:06] mcharg commented on #133
@lpgoldstein You mean on a page?

[2022-03-09 19:07] lpgoldstein commented on #133
Yes or locked word?

[2022-03-09 19:07] mcharg commented on #133
Something to think about in the future.

[2022-03-09 20:32] Maroyafaied opened #136 "Review DOI Blog guidance and Digital Media Policy"
We need to research if VSFS is considered affiliated with DOI to determine if our interns can author blogs.

https://www.doi.gov/employees/dmguide/website-and-social-media-basics

https://www.doi.gov/sites/doi.gov/files/elips/documents/470_dm_2_digital_media_policy_1.pdf

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/77f8741e-50ad-4bf6-adad-788ba3c0feb3)

[2022-03-09 20:39] Maroyafaied commented on #136
VSFS is managed by the Office of eDiplomacy in the U.S. Department of State’s Bureau of Information Resource Management.

[2022-03-10 14:59] mcharg commented on #127
I picked this up, since I was making other edits to the blog.

[2022-03-10 15:20] mcharg opened #138 "Create default author photo for the blog"
Something with the bison for when we don't have a photo from the author.

[2022-03-10 19:55] mcharg commented on #134
@daniel-coleman-1 Before you get started on this, I moved the blog analytics folder over to Teams. I updated the links to the spreadsheet in the instructions on the wiki.

New folder location (limited access): https://doimspp.sharepoint.com/:f:/r/sites/NRRD/Shared%20Documents/General/Blog/Blog%20Analytics?csf=1&web=1&e=t9Y1yr

[2022-03-10 21:49] Maroyafaied commented on #134
@daniel-coleman-1 I'm reassigning this to @mcharg since she did most of the work today during the meeting and will finish showing you tomorrow. Next month, I'll assign the analytics to you.

[2022-03-11 20:11] daniel-coleman-1 opened #139 "Blog Analytics Practice Run"

[2022-03-11 20:16] mcharg commented on #134
Done. https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2022-03-11 20:16] #134 closed

[2022-03-14 17:03] #127 closed

[2022-03-14 17:49] #133 closed

[2022-03-17 16:23] Maroyafaied commented on #136
@mcharg I discussed with Chris and he will ask the Departments Digital Director for and get back to me.

[2022-03-24 18:26] mcharg commented on #117
Met with Cody and he's going to add his parts as he has time.

[2022-03-24 18:48] Maroyafaied opened #140 "March Analytics"

[2022-03-30 20:38] mcharg opened #143 "Due Oct 1, 2023: Update GA scripts to GA4"
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/4e471f9f-7cea-4809-be97-5ba65ac112c2)

[2022-03-31 12:42] #139 closed

[2022-03-31 12:42] Maroyafaied commented on #139
This issue was assigned on March 14th with a due date of March 25th.  Closing this issue since this task was not completed and no status was given on progress. Task tied to Critical Element 1.

[2022-03-31 18:44] Maroyafaied commented on #140
Reassigning to @mcharg since @daniel-coleman-1 is out.

[2022-04-01 14:12] mcharg commented on #140
Google Analytics is acting weird, so I had to request unsampled reports to get the whole month of data.

[2022-04-05 16:09] mcharg commented on #117
@codyeckstein said he should have time to work on his part this week.

[2022-04-07 15:59] mcharg commented on #117
@Maroyafaied @cthomasONRR @lpgoldstein This is ready for you to review.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/Troubleshooting.docx?d=wdf7cc2e8094d44349bc752b7c8ce6c05&csf=1&web=1&e=VOkwrz

[2022-04-07 18:26] cthomasONRR commented on #117
@mcharg Looks amazing! I added a few comments. Thanks for your work on this!

[2022-04-07 18:40] lpgoldstein commented on #117
@mcharg This looks great. I left comments/edits in doc. Thanks for always taking the time to reflect on our work and how we can do more and be better.

[2022-04-07 19:59] mcharg commented on #117
I addressed comments, added alt text, and made tweaks to reduce the reading level from grade 10 to grade 9, if anyone wants to take another read through.

[2022-04-07 20:35] cthomasONRR commented on #117
@mcharg Looks good, thanks for addressing the comments!

[2022-04-08 14:30] mcharg commented on #93
@Maroyafaied @lpgoldstein @cthomasONRR Does this work?
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/03e47afa-175a-47f0-b283-ccaa42a7acc9)

[2022-04-08 14:50] lpgoldstein commented on #138
@mcharg I like it!

[2022-04-08 14:51] lpgoldstein commented on #93
@mcharg yes!

[2022-04-11 12:40] Maroyafaied commented on #138
@mcharg Yes, that works. Thanks

[2022-04-11 12:43] Maroyafaied commented on #93
@mcharg Looks great. Thanks

[2022-04-11 12:45] cthomasONRR commented on #138
@mcharg Looks good! Thanks!

[2022-04-11 12:45] cthomasONRR commented on #93
@mcharg Looks good!

[2022-04-11 12:56] #93 closed

[2022-04-11 12:56] #138 closed

[2022-04-14 14:20] #117 closed

[2022-04-26 19:59] Maroyafaied opened #147 "April Analytics"

[2022-05-10 18:30] mcharg commented on #147
Done
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2022-05-10 18:30] #147 closed

[2022-05-16 15:58] mcharg commented on #143
DAP Users:

Over the last few months, we’ve gotten a BUNCH of questions from you all about our plans for launching a DAP GA4 property.

The good news is: Our goal is to launch a dual Universal Analytics (the current version you use) and GA4 DAP code on May 26, 2022!

Here’s what you need to know to prepare:

Will I need to do anything to initiate data flowing into the DAP GA4 Property?

If your si

[2022-06-08 13:37] Maroyafaied opened #148 "May Analytics"

[2022-06-08 19:20] mcharg opened #150 "Write final blog post (for now)"

[2022-06-14 16:38] cthomasONRR commented on #148
Completed with Shannon. Closing.

[2022-06-14 16:38] #148 closed

[2022-06-14 20:27] mcharg opened #149 "Agile blog post"

[2022-06-14 20:29] mcharg opened #151 "CX blog post"

[2022-06-16 14:06] mcharg commented on #151
@lpgoldstein @Maroyafaied @cthomasONRR
Draft is ready to review before putting into markdown.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/CX.docx?d=wa22ade69ee0a414ea5adad00ecd9f31f&csf=1&web=1&e=wg1N9J

[2022-06-16 14:29] lpgoldstein commented on #151
@mcharg added a sentence in the conclusion.

[2022-06-16 15:29] Maroyafaied commented on #151
@mcharg @lpgoldstein I made minor comments, looks great.

[2022-06-16 19:25] mcharg opened #153 "Screen reader testing on the blog"

[2022-06-16 19:25] mcharg opened #154 "Lighthouse reports on the blog"

[2022-06-17 14:31] #151 closed

[2022-06-17 15:34] mcharg opened #155 "Broken link to USEITI withdrawal letter"
The withdrawal letter is no longer on the EITI site. We need to see if we can find this elsewhere. It's in Judy's post. https://blog-nrrd.doi.gov/product-champion/

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/32b7bec0-2205-4349-b9fb-01c0928f3c9a)

[2022-06-17 15:55] mcharg commented on #150
@lpgoldstein @Maroyafaied @cthomasONRR This is ready to review.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/PassingBaton.docx?d=wedf1f874d4934ea5a45acd50d01c2f6a&csf=1&web=1&e=vSOsot

[2022-06-17 18:15] mcharg commented on #149
@Maroyafaied @cthomasONRR This is ready for you to review. https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/Agile.docx?d=w04465ddb478d4b48bd6dc5654cdb9e22&csf=1&web=1&e=uGBD2m

[2022-06-17 18:23] mcharg opened #156 "Broken link: EITI standard"
In this post. https://blog-nrrd.doi.gov/making-tough-content-choices/
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/eef7a0d8-49c7-4d5f-af4c-04fca9597ac5)

[2022-06-21 16:16] Maroyafaied commented on #149
@mcharg looks good, added one comment.

[2022-06-22 15:23] mcharg opened #158 "Blog post on metrics"

[2022-06-22 15:29] mcharg commented on #149
@Maroyafaied @cthomasONRR Comments addressed, if you want to take another look.

[2022-06-22 19:43] cthomasONRR commented on #149
@mcharg Thanks, looks good

[2022-06-22 19:56] cthomasONRR commented on #150
@mcharg Thanks, looks good

[2022-06-23 15:56] Maroyafaied commented on #154
@cthomasONRR test a few and document issues if any.

[2022-06-23 15:58] Maroyafaied commented on #155
@daniel-coleman-1 if you can't a pdf then please remove the link.

[2022-06-23 16:02] cthomasONRR commented on #156
I think this is the correct link: https://eiti.org/collections/eiti-standard

[2022-06-23 18:09] Maroyafaied commented on #150
@mcharg looks great.

[2022-06-23 19:42] mcharg commented on #149
@lpgoldstein @Maroyafaied This is ready to review in a PR. https://github.com/ONRR/blog-nrrd/pull/159

[2022-06-23 19:51] mcharg opened #161 "Write blog post about accessible video player with Sid"

[2022-06-23 19:52] mcharg opened #162 "Write blog post about ATO process"
I feel like there could be learnings to share once you actually get through the process.

[2022-06-23 19:52] mcharg opened #163 "Write blog post about accessibility testing on onrr.gov"

[2022-06-23 20:06] mcharg commented on #150
This is waiting in a PR.  Once we merge the agile post to dev, we can get a preview and QA.
https://github.com/ONRR/blog-nrrd/pull/160

[2022-06-28 14:39] #149 closed

[2022-07-05 14:40] mcharg commented on #150
@Maroyafaied This is just waiting for your approval on the PR.  But don't merge it until the agile post goes live.

[2022-07-07 15:56] #150 closed

[2022-07-07 16:05] mcharg opened #164 "Blog post about redoing the user types"

[2022-07-08 20:27] mcharg commented on #158
@lpgoldstein I made a bunch of progress this week. Feel free to add/edit. I can work on it more next week.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/Metrics.docx?d=w7ff639f991894daa98b2b4c6f7b5556c&csf=1&web=1&e=RP1IO3

[2022-07-13 14:13] cthomasONRR commented on #155
I found a link for the US EITI withdraw letter that is functioning: https://eiti.org/sites/default/files/attachments/signed_eiti_withdraw_11-17.pdf

[2022-07-14 14:48] #155 closed

[2022-07-14 15:51] mcharg commented on #158
@cthomasONRR This is ready for you to review.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/Metrics.docx?d=w7ff639f991894daa98b2b4c6f7b5556c&csf=1&web=1&e=z4A9dw

[2022-07-14 16:48] cthomasONRR commented on #158
@mcharg Just finished making some edits and comments.

[2022-07-15 15:38] mcharg opened #167 "Review metrics blog post"
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/Metrics.docx?d=w7ff639f991894daa98b2b4c6f7b5556c&csf=1&web=1&e=RP1IO3

[2022-07-15 15:39] mcharg commented on #158
I created #167 for @Maroyafaied to review.

[2022-07-15 15:42] mcharg commented on #164
@Maroyafaied @lpgoldstein @cthomasONRR I started a rough draft that you can refine when you have time.
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/User%20Types.docx?d=w1107bc8a050b41bf9660f54ac34337ae&csf=1&web=1&e=HnbIex

[2022-07-15 15:44] cthomasONRR commented on #164
@mcharg Thanks!!!

[2022-07-19 02:12] #156 closed

[2022-07-22 19:03] cthomasONRR commented on #164
@lpgoldstein @Maroyafaied I added my portion of content to the Word document. There are note callouts for where you should add in your content. Thanks!

[2022-07-25 17:57] Maroyafaied opened #170 "Blog June Analytics"
@daniel-coleman-1  please complete this task and have it ready for review no later than August 1, 2022. Please tag me in the issue when its ready for review.  After incorporating comments received from review, please  publish to the wiki no later than August 8, 2022

[2022-07-25 20:33] lpgoldstein commented on #164
@cthomasONRR and @Maroyafaied I added mine. @Maroyafaied I'll put this into markdown when we finish writing. No hurry as we already have other blog posts ready to go.

[2022-07-28 15:41] Maroyafaied commented on #167
@lpgoldstein I added my comments. It's a great blog post topic!

[2022-07-28 17:06] #167 closed

[2022-08-01 17:39] lpgoldstein opened #171 "PR for metrics blog"

[2022-08-09 20:28] lpgoldstein opened #174 "publish kaitlyn's blog post"

[2022-08-11 12:38] Maroyafaied commented on #170
Daniel didn't complete this task. I will close this issue and open one for @cthomasONRR to do both June and July analytics.

[2022-08-11 12:38] #170 closed

[2022-08-11 12:39] Maroyafaied opened #175 "June and July Blog Analytics"

[2022-08-11 13:05] cthomasONRR commented on #175
@Maroyafaied

July analytics are up on the Blog wiki: https://github.com/ONRR/blog-nrrd/wiki/Analytics
You can use this [linked](https://doimspp-my.sharepoint.com/:x:/r/personal/thomasc_mms_gov/Documents/[Blog_Analytics_July22.xlsx](https://doimspp-my.sharepoint.com/:x:/r/personal/thomasc_mms_gov/Documents/Blog_Analytics_July22.xlsx?d=wec9237e286ab4e44b50ea7e070a3f905&csf=1&web=1&e=JTqe0T)?d=wec92

[2022-08-11 14:05] Maroyafaied commented on #175
@cthomasONRR I'm not able to access the spreadsheet

[2022-08-11 14:14] cthomasONRR commented on #175
@Maroyafaied Thought I already shared it with you. You should have access now and here's the [link](https://doimspp-my.sharepoint.com/:x:/r/personal/thomasc_mms_gov/Documents/CLT%20Analytics/[Blog_Analytics_July22.xlsx](https://doimspp-my.sharepoint.com/:x:/r/personal/thomasc_mms_gov/Documents/CLT%20Analytics/Blog_Analytics_July22.xlsx?d=wec9237e286ab4e44b50ea7e070a3f905&csf=1&web=1&e=XllAhe)?d=we

[2022-08-11 14:32] cthomasONRR opened #176 "Create better guidelines for GitHub issue submission"
Improve this page: https://github.com/ONRR/onrr.gov-site/wiki/Using-github. Write better directions for ONRR members outside of the ODDD team, so that they can better understand how to clearly request changes to the website.

[2022-08-11 14:33] cthomasONRR commented on #176
Posted in wrong repo. Closing.

[2022-08-11 14:33] #176 closed

[2022-08-11 15:20] Maroyafaied commented on #175
@cthomasONRR looks great, everything matches! Thanks.

[2022-08-11 15:21] #175 closed

[2022-08-12 17:39] cthomasONRR commented on #163
Link to draft: https://doimspp-my.sharepoint.com/:w:/r/personal/thomasc_mms_gov/Documents/onrr.gov%20accessibility%20testing%20-%20blog%20post.docx?d=wcfe50cb56cc34b8eb204d1327e42bbb0&csf=1&web=1&e=KaMwC4

[2022-08-12 19:01] cthomasONRR commented on #163
@Maroyafaied @lpgoldstein

This first draft is ready for review: https://doimspp-my.sharepoint.com/:w:/r/personal/thomasc_mms_gov/Documents/onrr.gov%20accessibility%20testing%20-%20blog%20post.docx?d=wcfe50cb56cc34b8eb204d1327e42bbb0&csf=1&web=1&e=KaMwC4

I'd like for you to review it first, then I plan to send it to Sam to see if he wants to add in a quote.

Thanks!

[2022-08-15 14:43] Maroyafaied commented on #164
@lpgoldstein @cthomasONRR I finally found the time to write for my sections! @mcharg I added screenshots incase you'd like to review.

![image](https://user-images.githubusercontent.com/40175688/184657005-5eb827fa-649d-487b-b847-bc456367d701.png)

![image](https://user-images.githubusercontent.com/40175688/184656899-0f6e57f9-ae93-4192-9cc7-5b6913d49f7c.png)

[2022-08-15 15:06] cthomasONRR commented on #164
@maroyafaied Great!!! I found 2 images that I think need some additional explanation from you. I tagged you in the comments for them.

[2022-08-15 15:06] cthomasONRR commented on #164
@maroyafaied Great!!! I found 2 images that I think need some additional explanation from you. I tagged you in the comments for them.

[2022-08-15 15:39] Maroyafaied commented on #164
@cthomasONRR Thanks, I addressed your comments. Please review.

[2022-08-15 16:02] cthomasONRR commented on #164
@Maroyafaied Looks great! Thanks!

[2022-08-15 17:05] Maroyafaied commented on #164
will close this and make a new issue to put in markdown and publish.

[2022-08-15 17:05] #164 closed

[2022-08-15 18:45] Maroyafaied opened #177 "Markdown & publish redoing user types blog"
Blog written in issue #164
https://github.com/ONRR/blog-nrrd/issues/164

[2022-08-15 19:22] #171 closed

[2022-08-16 00:32] shannonmcharg commented on #164
Looks good.

[2022-08-17 18:25] lpgoldstein commented on #163
@cthomasONRR somehow you've made this whole process seem very easy. This blog post is going to make it a lot easier for other's to test their own websites.

[2022-08-17 20:31] cthomasONRR commented on #163
@lpgoldstein Thanks!! I addressed your comments in the Word Doc

[2022-08-22 19:00] Maroyafaied commented on #163
@cthomasONRR Great blog! I've added comments.

[2022-08-23 13:09] cthomasONRR commented on #163
@Maroyafaied I addressed your comments. Please let me know if my changes are ok, then I'll clean up the doc and send it to Sam. Thanks!

[2022-08-23 15:36] cthomasONRR commented on #163
I emailed the blog doc to Sam to see if he'd like to add in a quote.

[2022-08-23 19:37] cthomasONRR opened #179 "blog analytics"

[2022-08-24 18:28] cthomasONRR opened #180 "Follow up with Sam about blog post"
I emailed Sam on 8/23 to see if he'd like to review and add a comment to the blog post in issue #163. If he doesn't respond this week, I will follow up on the week of 8/29.

[2022-08-24 18:28] cthomasONRR commented on #163
I created issue #180 to follow up with Sam. I will close this issue since the blog is written and reviewed.

[2022-08-24 18:28] #163 closed

[2022-08-24 21:24] brentryanjohnson opened #181 "Consider replacing ampersand (&) in blog title"
I've noticed the ampersand in `Open data, design, & development at the U.S. Department of the Interior` is printed as an HTML entity in certain contexts.

![Link test that reads Measuring and Justifying the Government Experience Open data, design, &amp; development at the Department of the Interior](https://user-images.githubusercontent.com/32855580/186525043-5816b1b5-4fa7-4243-8246-d845465c1a46.p

[2022-08-25 12:46] cthomasONRR commented on #180
Sam approved the quote. This blog writ-up is complete :) Closing issue.

[2022-08-25 12:46] #180 closed

[2022-08-25 13:02] Maroyafaied opened #182 "Blog about steps taken to modernize a government website"

[2022-08-29 15:35] lpgoldstein commented on #161
Emailed Sid again to follow up and request his contribution.

[2022-08-29 16:05] cthomasONRR commented on #177
I also have to add alt text to all the images.

[2022-09-06 16:31] cthomasONRR commented on #179
@lpgoldstein

Blog analytics are ready for your review: https://github.com/ONRR/blog-nrrd/wiki/Analytics

Excel for reviewing: https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7B480D1A94-EAD7-47BF-9841-64D5D1C1A981%7D&file=Blog_Analytics.xlsx&action=default&mobileredirect=true

Thanks!

[2022-09-06 17:51] lpgoldstein commented on #179
@cthomasONRR looks good

[2022-09-06 18:26] #179 closed

[2022-09-07 02:37] lpgoldstein commented on #174
@Maroyafaied Kaitlyn approved via email.

[2022-09-07 02:38] lpgoldstein commented on #161
Still waiting for Sid's contribution.

[2022-09-15 15:08] Maroyafaied commented on #181
@lpgoldstein will look into this

[2022-09-22 17:06] #174 closed

[2022-09-22 17:45] cthomasONRR opened #185 "Markdown and publish 4-part hybrid testing blog"

[2022-09-26 13:58] cthomasONRR commented on #177
PR here: https://github.com/ONRR/blog-nrrd/pull/187

[2022-09-26 15:45] Maroyafaied opened #188 "September 2022 Analytics"

[2022-10-03 14:22] cthomasONRR commented on #188
@lpgoldstein

NRRD Analytics are ready for your review: https://github.com/ONRR/nrrd/wiki/Analytics

Here is a word doc to help with reviewing: https://doimspp-my.sharepoint.com/:w:/r/personal/thomasc_mms_gov/Documents/CLT%20Analytics/Analytics%20September%2022.docx?d=w202417110061419d8836e2d0a4f9ad60&csf=1&web=1&e=aXegoh

[2022-10-03 15:24] lpgoldstein commented on #188
@cthomasONRR looks good!

[2022-10-04 17:09] #185 closed

[2022-10-05 16:31] lpgoldstein commented on #181
Just waiting to hear back from Ryan but will close this issue. It only seems to be an issue with the listserv emails

[2022-10-05 16:47] #181 closed

[2022-11-01 15:33] cthomasONRR opened #189 "October Analytics - Blog"

[2022-11-03 17:13] cthomasONRR opened #190 "Update hybrid testing blog post"
I want to add clarifications that I mentioned in the GSA talk.

[2022-11-07 16:41] lpgoldstein commented on #189
@cthomasonrr looks good

[2022-11-07 17:14] #189 closed

[2022-11-07 17:36] cthomasONRR opened #191 "Revise blog analytics graphs"
Look into:

- [x] flipping axes for both pageviews and referrers
- [x] consolidate referrer types

[2022-11-09 15:04] cthomasONRR commented on #191
Completed and live on the wiki:
https://github.com/ONRR/blog-nrrd/wiki/Analytics

[2022-11-09 15:04] #191 closed

[2022-11-09 20:04] cthomasONRR commented on #190
@lpgoldstein

I made updates to the intro (page 1) and Step 3 (page 5). New text is in track changes. Do you have time to review this sprint?
https://doimspp.sharepoint.com/:w:/r/sites/NRRD/Shared%20Documents/General/Blog/In%20Progress/onrr.gov%20accessibility%20testing%20-%20blog%20post.docx?d=w0bfbd123ecbf42cca8e032ab2ad06608&csf=1&web=1&e=a7oJuY

[2022-11-10 19:30] lpgoldstein commented on #190
@cthomasONRR I like your additions. I also like you used screen reader user instead of assistive tech user. It's clearer.

[2022-11-10 20:14] cthomasONRR commented on #190
@Maroyafaied I'm ready to make these updates... can I go in dev and modify the text? We can discuss next week. I believe Shannon made some blog updates when they were in dev before so I don't think it needs to be removed.

[2022-11-14 18:52] cthomasONRR commented on #190
These updates are now in dev: https://dev-blog-nrrd.app.cloud.gov/four-part-hybrid-testing/

[2022-11-14 19:04] #190 closed

[2022-11-30 21:02] cthomasONRR opened #193 "blog monthly analytics"